.overlay {
    position: fixed; /* Asegura que el modal esté fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Coloca el modal por encima del navbar */
}

.modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-height: 90vh; /* Para evitar que el modal sea más alto que el viewport */
    max-width: 80vw;
    overflow-y: auto; /* Habilita el scroll dentro del modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Asegura que el contenido del modal esté encima del overlay */
}
.close-button {
    position: relative; /* Coloca el botón respecto al contenedor del modal */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la derecha */
    background: none; /* Sin fondo */
    border: none; /* Sin bordes */
    font-size: 24px; /* Tamaño de la "X" */
    font-weight: bold; /* Resalta el texto "X" */
    color: #333; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a un puntero */
    z-index: 1002; /* Por encima del contenido del modal */
}

.close-button:hover {
    color: #aaa; /* Cambia de color al pasar el mouse */
}