.booking-card {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    padding: .5rem;
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 220px;
    font-family: 'Segoe UI', sans-serif;
}

.image-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
}

.room-imager {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    flex: 2;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.status {
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}

.status.pending {
    background-color: #f59e0b;
}

.status.confirmed {
    background-color: #3b82f6;
}

.status.checked_in {
    background-color: #10b981;
}

.status.completed {
    background-color: #16a34a;
}

.status.canceled {
    background-color: #ef4444;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
    color: #555;
}

.info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.9rem;
    color: #333;
}

.feature p {
    margin: 0;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #333;
    font-weight: 500;
}

.icon img {
    width: 18px;
    height: 18px;
}

.icon.total {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111827;
}

.buttons {
    position: relative;
    bottom: 16px;
    left: 55px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.btn.cancel {
    background-color: #ef4444;
}

.btn.cancel:hover {
    background-color: #dc2626;
}

.btn.update {
    background-color: #1f2937;
}

.btn.update:hover {
    background-color: #111827;
}
