/* Contenedor general del formulario */
.container {
    background-color: #fff;
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 28px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
  }
  
  /* Contenedor de inputs */
  .data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
  }
  
  /* Contenedor de botones */
  .data-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  
  /* Estilo base para botones */
  .button {
    height: 42px;
    padding: 0 20px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #262626;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  /* Botón de cancelar */
  #undo {
    background-color: #fafafa;
    color: #262626;
  }
  
  #undo:hover {
    background-color: #e6e6e6;
    color: #000;
    border-color: #000;
  }
  
  /* Botón de guardar */
  #save {
    background-color: #262626;
    color: #fff;
    border: none;
  }
  
  #save:hover {
    background-color: #444;
    color: #fafafa;
  }
  